* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #0B2447;
    flex-direction: column;
}

.translate-area {
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto;
}

#translate-btn {
    grid-column: 1 / span 2;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #576CBC;
    color: #fff;
    font-size: 25px;
}

#input-text, #output-text {
    width: 400px;
    height: 250px;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 20px;
    resize: none;
}


#output-text:disabled {
    background-color: #fff;
    color: #000;
}


.translate-option {
    display: flex;
    width: 50%;
    /* background-color: #fff; */
    margin: 5px;
    padding: 20px;
    width: 820px;
    align-items: center;
    justify-content: center;
}


#text-from, #text-to {
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    color: #0B2447;
}

.fa-arrow-right {
    font-size: 25px;
    margin: 0 20px;
    color: #fff;
}