* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #576CBC;
    flex-direction: column;
}

.translate-area {
    display: grid;
    grid-template-columns: auto auto;
}

#translate-btn {
    grid-column: 1 / span 2;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #262A56;
    color: #fff;
    font-size: 25px;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
    

#translate-btn:hover {
    background-color: #474c86;
}
#translate-btn:active {
    transform: scale(0.98);
}

#input-text, #output-text {
    width: 600px;
    height: 250px;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 25px;
    resize: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;

}

#input-text {
    border-right: 1px solid #888;
}


#output-text:disabled {
    background-color: #fff;
    color: #000;
}


.translate-option {
    display: flex;
    width: 50%;
    /* background-color: #fff; */
    margin: 5px;
    padding: 20px;
    width: 820px;
    align-items: center;
    justify-content: center;
}


#text-from, #text-to {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: #0B2447;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid #262A56;

}

.fa-arrow-right {
    font-size: 25px;
    margin: 0 20px;
    color: #fff;
}